<a href="https://colab.research.google.com/github/JuliaMaksiutova/Python-for-analysts/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Task2

На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе.

Пример работы функции:



```
total_fruits(banana=5, mango=7, apple=8)
20
```

In [9]:
def stock(kwargs) -> int:
    result = int()
    for key, value in kwargs.items():
        result += value
    print(result)

In [10]:
stock_dict = {
    'muz': 5,
    'portakal': 7,
    'elma': 8,
    'armul': 2,
    'şeftali': 5,
    'erik': 9
}
stock(stock_dict)

36

##Task3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты


```
[100, 125, -90, 345, 655, -1, 0, 200]
```

Используйте list comprehensions

In [7]:
user_list = [100, 125, -90, 345, 655, -1, 0, 200]

In [8]:
result_list = [i for i in user_list if i >= 0]
print(result_list)

[100, 125, 345, 655, 0, 200]

##Task4

Даны два списка.

Дата покупки

`['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']`

Суммы покупок по датам

`[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]`

In [11]:
purchase_date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09',\
                 '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26',\
                 '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27',\
                 '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01',\
                 '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31',\
                 '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

In [12]:
purchase_value = [1270, 8413, 9028, 3703, 5739,\
                  4095, 295, 4944, 5723, 3701,\
                  4471, 651, 7037, 4274, 6275,\
                  4988, 6930, 2971, 6592, 2004,\
                  2822, 519, 3406, 2732, 5015,\
                  2008, 316, 6333, 5700, 2887]

In [13]:
months_dict = {
    '1':'январе',
    '2':'феврале',
    '3':'марте',
    '4':'апреле',
    '5':'мае',
    '6':'июне',
    '7':'июле',
    '8':'августе',
    '9':'сентябре',
    '10':'октябре',
    '11':'ноябре',
    '12':'декабре'
}

###Task 4.1

Найдите, какая выручка у компании в ноябре

Используйте list comprehensions

In [14]:
only_months = [d[5:-3] for d in purchase_date]

In [15]:
sales = int()
for i in range(len(purchase_value)):
    if only_months[i] == '11':
        sales += int(purchase_value[i])

In [16]:
needed_month = months_dict['11']
print(f'Выручка в {needed_month} = {sales} У.Е.')

Выручка в ноябре = 25098 У.Е.

###Task 4.2

Найдите выручку компании в зависимости от месяца

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

Используйте аннотирование типов.

In [17]:
def sales_by_months(dates: list, sales: list) -> dict:
    
    months_nominative_dict = {
    '01':'январь',
    '02':'февраль',
    '03':'март',
    '04':'апрель',
    '05':'май',
    '06':'июнь',
    '07':'июль',
    '08':'август',
    '09':'сентябрь',
    '10':'октябрь',
    '11':'ноябрь',
    '12':'декабрь'
    }  
    
    result = {}
    only_months = [d[5:-3] for d in dates].copy()
    result = dict.fromkeys(only_months, None)
    result = dict(sorted(result.items()))

    for key in result:
        s = int()
        for i in range(len(only_months)):
            if key == only_months[i]:
                s += int(sales[i])
        result[key] = s
       
    for key in list(result):
        if key in months_nominative_dict.keys():
            i = months_nominative_dict.get(key)
            result[i] = result.pop(key)
    
    for key,value in result.items(): print(key, ':', value)

In [18]:
sales_by_months(dates = purchase_date, sales = purchase_value)

сентябрь : 25647
октябрь : 28645
ноябрь : 25098
декабрь : 45452